<div id="pageBody">
    {:widget('user/sidebar')}
    <div id="mainBody2">
        <div class="mainBox2">
            <h3>消费记录</h3>
            <div class="content">
                <table class="tab" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td align="right">消费时间：
                            <input id="J_date_start" class="Wdate inp" value=""
                                   style="width:150px" type="text" />
                            到
                            <input id="J_date_end" class="Wdate inp" value=""
                                   style="width:150px" type="text" />

                            <select id="J_group_text">
                                <option value="">消费类型</option>
                                <option value="official">官方</option>
                                <option value="recharge">充值</option>
                                <option value="buy">购买</option>
                                <option value="refund">退款</option>
                                <option value="upgrade">升级</option>
                                <option value="other">其他</option>
                            </select>
                            <input class="btn" id="J_btn_search" value="查询" type="button"></td>
                    </tr>
                    </tbody>
                </table>
                <table id="J_list_recharge_rewards" class="tab2"
                       width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <th width="40%">消费内容</th>
                        <th width="10%">类型</th>
                        <th width="10%">金额</th>
                        <th width="10%">余额</th>
                        <th width="15%">时间</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{$Think.config.__URI_PUB_STATIC__}index/js/finance.js{$Think.config.__TIMESTAMP__}"></script>
<script src="{$Think.config.__URI_PUB_STATIC__}index/js/fund_record.js{$Think.config.__TIMESTAMP__}"></script>