<div class="container">
    <div class="row">
        <form method="post" autocomplete="off">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">会员等级</th>
                    <th class="text-center width800">
                        推荐奖励<span class="text-danger">（按推荐会员充值的百分比计算，最高可设置为99.99%）</span>
                    </th>
                </tr>
                {volist name="user_levels" id="level"}
                <tr>
                    <td class="text-center">{$level.level_name}</td>
                    <td class="text-center input-group">
                        <input type="text" class="form-control" maxlength="5"
                               name="recommend_prices[{$level.user_level_id}]"
                               value="{$level.recommend_price|number_format=###,2,'.',''}" />
                        <span class="input-group-addon">%</span>
                    </td>
                </tr>
                {/volist}
            </table>
            {notempty name="user_levels"}
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="保存" />
            </div>
            {/notempty}
        </form>
    </div>
</div>
<script>
    $('#J_type_id').change(function(){
        $('#J_form_search').submit();
    });

    $('#J_delete_all').click(function(){
        if(!confirm('确定要删除所有流量信息？')){
            return false;
        }
        return true;
    });

    $('.J_delete_one').click(function(){
        if(!confirm('确定要删除该流量信息？')){
            return false;
        }
        return true;
    });
</script>