<div class="container">
    <div class="row">
        <form method="post" autocomplete="off">
            <div class="form-group">
                <label>文案标题</label>
                <input class="form-control" type="text" disabled value="{$text.title}" />
            </div>
            <div class="form-group">
                <label>展示状态</label>
                {php}
                $checked_on = '';
                $checked_off = '';
                if(isset($text['status']) && (int)$text['status'] == 1){
                    $checked_on = ' checked="checked" ';
                }else{
                    $checked_off = ' checked="checked" ';
                }
                {/php}
                <span class="padding-right20"></span>
                <input type="radio" name="status" value="1" {$checked_on} />开启
                &nbsp;&nbsp;
                <input type="radio" name="status" value="0" {$checked_off} />关闭
            </div>
            <div class="form-group">
                <label>文案内容</label>
                <script id="J_description" name="description" type="text/plain">
                    {$text.description}
                </script>
            </div>
            <div class="form-group margin-top30">
                <input type="hidden" name="text_id" value="{$text.text_id}" />
                <input class="btn btn-primary" type="submit" value="保存" />
                <span class="padding-right20"></span>
                <a href="{:url('admin/advertisement/index', 'active_data=text')}">
                    <input type="button" class="btn btn-info" value="返回列表页" />
                </a>
            </div>
        </form>
    </div>
</div>
