<div class="container">
    <div class="row">
        <form method="post" autocomplete="off" id="J_QQ_Form">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">展示名称</th>
                    <th class="text-center width200">QQ号</th>
                    <th class="text-center width200">排序</th>
                    <th class="text-center">展示状态</th>
                </tr>
                {volist name="qq_list" id="qq"}
                <tr>
                    <td class="text-center">
                        <input type="text" class="form-control" maxlength="30"
                               name="names[{$qq.qq_id}]" value="{$qq.name}" />
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control" maxlength="16"
                               name="qq_numbers[{$qq.qq_id}]" value="{$qq.qq_number}" />
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control dv_int" maxlength="6"
                               name="sorts[{$qq.qq_id}]" value="{$qq.sort}" placeholder="不填写默认为0" />
                    </td>
                    <td class="text-center">
                        {php}
                        $checked_on = '';
                        $checked_off = '';
                        if(isset($qq['status']) && (int)$qq['status'] == 1){
                            $checked_on = ' checked="checked" ';
                        }else{
                            $checked_off = ' checked="checked" ';
                        }
                        {/php}
                        <input type="radio" name="status[{$qq.qq_id}]" {$checked_on} value="1" />开启
                        <span class="padding-right20"></span>
                        <input type="radio" name="status[{$qq.qq_id}]" {$checked_off} value="0" />关闭
                    </td>
                </tr>
                {/volist}
                <tr id="J_QQ_Tpl" class="display-none">
                    <td class="text-center">
                        <input type="text" class="form-control" maxlength="30" name="names[__I__]" />
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control" maxlength="16" name="qq_numbers[__I__]" />
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control dv_int" maxlength="6"
                               name="sorts[__I__]" placeholder="不填写默认为0" />
                    </td>
                    <td class="text-center">
                        <input type="radio" name="status[__I__]" value="1" />开启
                        <span class="padding-right20"></span>
                        <input type="radio" name="status[__I__]" checked value="0" />关闭
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="row margin-top30">
        <a href="javascript:void(0);" class="btn btn-primary pull-left" id="J_QQ_Save">保存</a>
        <a href="javascript:void(0);" class="btn btn-info pull-right J_Add_QQ">新增QQ客服</a>
    </div>
</div>
<script>
    var add_index = 0;
    $('.J_Add_QQ').click(function(){
        var tr_html = '<tr>' + ($('#J_QQ_Tpl').html()) + '</tr>';
        tr_html = tr_html.replace(/__I__/g, 'i_' + add_index);
        $('#J_QQ_Form table').append(tr_html);
        add_index++;
    });

    $('#J_QQ_Save').click(function(){
        $('#J_QQ_Form').submit();
    });
</script>