<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th class="text-center">会员</th>
                <th class="text-center">类型</th>
                <th class="text-center">详情</th>
                <th class="text-center">金额</th>
                <th class="text-center">余额</th>
                <th class="text-center">时间</th>
            </tr>
            {volist name="fund_records" id="fund_record"}
            <tr>
                <td class="text-center">{$user.user_account}</td>
                <td class="text-center">{$fund_record.group_text}</td>
                <td class="text-center">{$fund_record.detail}</td>
                <td class="text-center">{$fund_record.type_code}{$fund_record.price}</td>
                <td class="text-center">{$fund_record.balance}</td>
                <td class="text-center">{$fund_record.gmt_create}</td>
            </tr>
            {/volist}
        </table>
        {notempty name="fund_records"}
        {$fund_records->render()}
        {/notempty}
        <div class="margin-top30 pull-right">
            {if condition="isset($_GET['user_page']) && (int)$_GET['user_page'] > 1"}
            <a href="{:url('admin/user/index', ['page'=>(int)$_GET['user_page']])}" class="btn btn-info">返回列表页</a>
            {else/}
            <a href="{:url('admin/user/index')}" class="btn btn-info">返回列表页</a>
            {/if}
        </div>
    </div>
</div>