.pageBox td {
    font-weight: bold
}

.pageBox td p {
    text-align: left;
    line-height: 22px;
    font-weight: normal
}

.pageBox td h4 {
    text-align: right;
    text-indent: -20px;
    color: red;
}

.tags {
    border-bottom: 2px solid #f00;
    width: 730px;
    height: 30px;
}

.tags li {
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
    background-color: #c7c1c1;
    border-radius: 5px 5px 0px 0px;
    margin-right: 5px;
    cursor: pointer;
}

.tags li.on {
    background-color: red;
    color: #fff;
}

.startul {
    padding: 0px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    border-bottom: solid 3px red
}

.startulli {
    float: left;
    background-color: #c7c1c1;
    cursor: pointer;
    margin-right: 3px;
    width: 120px;
    text-align: center;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.startulli:hover {
    background-color: red;
    color: white;
}

.curr {
    background-color: red;
    color: white
}