<div id="pageBody">
    {:widget('user/sidebar')}
    <div id="mainBody2">
        <div class="mainBox2">
            <h3> 修改密码 </h3>
            <div class="content">
                <div class="regBox">
                    <form id="passform" method="post" autocomplete="off">
                        <ul>
                            <li>
                                <label>原密码：</label>
                                <input class="input  validate[required,minSize[6],maxSize[16]]"
                                       data-errormessage-value-missing="密码长度必须为6-16位字符"
                                       id="oldpass" name="oldpass" type="password" />
                                <span id="oldpasswordSpan">输入原密码</span>
                            </li>
                            <li>
                                <label>新密码：</label>
                                <input class="input  validate[required,custom[checkPassword],minSize[6],maxSize[16]]"
                                       data-errormessage-value-missing="密码由至少6位数字或字母组成"
                                       id="newspass" name="newspass" type="password" />
                                <span id="passwordSpan">密码由至少6位数字或字母组成</span>
                            </li>
                            <li>
                                <label>确认密码：</label>
                                <input class="input  validate[required,equals[newspass]]"
                                       data-errormessage-value-missing="密码不一致"
                                       id="newspass2" name="newspass2" type="password">
                                <span id="repasswordSpan">再次输入密码</span>
                            </li>
                            <li class="mt30">
                                <label>&nbsp;</label>
                                <input class="btn" id="btnSave" value="修改" type="submit">
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#passform").validationEngine('attach', {
        onValidationComplete: function (form, status) {
            if (status == true) {
                //表单验证通过
                $("#passform").ajaxSubmit({
                    url: "{:url('ajax/index.user/password')}",
                    type: 'post',
                    dataType: 'json',
                    success: function (res) {
                        if (res.status == 'success') {
                            layer.alert("密码修改成功", "1", function () {
                                window.location.href = "{:url('index/user/logout')}";
                            });
                            return false;
                        }

                        layer.alert(res.msg);
                    },
                    error: function (data, status, e) {
                        console.log('********** Ajax Submit Error **********');
                    }
                })
            }
        }
    });

    jQuery.validator.addMethod("checkPassword", function (value, element) {
        return this.optional(element) || /(?!^(\d+|[a-zA-Z]+|[~!@#$%^&*?]+)$)^[\w~!@#$%\^&*?]+$/.test(value);
    }, "只能包括英文字母和数字或特殊字符");
</script>